@media screen and (max-width: 875px) {
    .MainNavRefs li {
        display: none;
    }
}

@media screen and (min-width: 1250px) {
    .MainNavSpace {
        width: 50%
    }
    
    .MainNavRefs {
        width: 50%;
    }
}

@media screen and (min-width: 1740px) {
    .MainNavSpace {
        width: 60%;
    }
    
    .MainNavRefs {
        width: 40%;
    }
}